<%= link_to '<< Back', movies_path %>

<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<h1>Add a new movie</h1>
		<%= render 'form' %>
	</div>
	<div class="col-md-2">
	</div>
</div>