@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-family-sans-serif:  'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg:  white;
$navbar-default-brand-color: #16a085;
$brand-primary:  #c0392b;
$jumbotron-bg: white;

@import 'bootstrap';

body {
	@include gradient-vertical(#00ADEF, #00A79D);
	color:#fff;
	height:100%;
	margin:0 20px;
	padding-bottom: 20px;
}
p {
	margin:10px 0;
	font-weight: lighter;
	letter-spacing: 1px;
}
a {
	color:#fff;
}
a :hover{
	color:#fff;
	text-decoration: none;
}
.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

.well {
	font-size:150%;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #D1D2D4;
    margin:20px 0;
}
h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#fff;
}
h5 {
	text-transform: uppercase;
}
.home-question {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 200%;
	margin: 20px 0;

}
.home-search {
	width:50%;
	margin: 0 auto;
	border: 1px solid white;
	color: #fff;
	background-color: #46BCC8;
	font-size: 75%;
	height:100%;
}
.home-img {
	margin:20px 0;
}
.home-search-btn {
	text-transform: uppercase;
	color: #00ADEF;
	font-size: 75%;
}
table {
	font-weight: lighter;
	letter-spacing: 1px;
}
.percentage{
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 400%;
	margin: 20px 0;
}
.sm-percentage{
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 275%;
	margin: 10px 0;
}
.mid-line {
	border-right: 1px solid #D1D2D4;
}
.comments hr {
	margin: 10px auto;
}
.comments  {
	width:50%;
	margin: 0px auto;
}
.commenter {
	font-weight: bold;
	text-align: right;
}
.amwp-text-area {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 125%;
	width:50%;
	margin: 0 auto;
	border: 1px solid white;
	color: #fff;
	background-color: #46BCC8;
	height:100%;
}
.amwp-field-area {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 125%;
	margin: 10px 0;
	color: #00ADEF;
	height:100%;
}
.amwp-button {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #00ADEF;
	margin: 10px 0;
}
.index-img {
	width:180px;
}